In [57]:
import pandas as pd
data_ = pd.read_csv("./data.csv")

In [58]:
#data_ = data_.drop(['CARD_CCG_NM', 'HOM_CCG_NM'], axis = 1)
data_ = data_.drop(['CARD_CCG_NM', 'HOM_CCG_NM', 'CSTMR_CNT', 'CNT'], axis = 1)

In [59]:
data_['REG_YYMM']= data_['REG_YYMM'].apply(lambda x: str(x))
data_

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,AMT
0,201901,강원,건강보조식품 소매업,강원,20s,1,1,311200
1,201901,강원,건강보조식품 소매업,강원,30s,1,2,1374500
2,201901,강원,건강보조식품 소매업,강원,30s,2,2,818700
3,201901,강원,건강보조식품 소매업,강원,40s,1,3,1717000
4,201901,강원,건강보조식품 소매업,강원,40s,1,4,1047300
...,...,...,...,...,...,...,...,...
24697787,202003,충북,휴양콘도 운영업,충북,30s,1,2,43300
24697788,202003,충북,휴양콘도 운영업,충북,40s,1,3,35000
24697789,202003,충북,휴양콘도 운영업,충북,50s,1,4,188000
24697790,202003,충북,휴양콘도 운영업,충북,50s,2,4,99000
24697791,202003,충북,휴양콘도 운영업,충북,60s,1,5,194000

In [60]:
data_=data_[data_["CARD_SIDO_NM"]=="서울"]
data_

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,AMT
820918,201901,서울,건강보조식품 소매업,강원,60s,2,5,1181300
820919,201901,서울,건강보조식품 소매업,강원,50s,2,4,756000
820920,201901,서울,건강보조식품 소매업,강원,50s,2,4,2480710
820921,201901,서울,건강보조식품 소매업,강원,60s,2,5,3604450
820922,201901,서울,건강보조식품 소매업,강원,50s,2,4,1952750
...,...,...,...,...,...,...,...,...
24404727,202003,서울,화장품 및 방향제 소매업,인천,40s,2,3,25800
24404728,202003,서울,화장품 및 방향제 소매업,인천,50s,1,4,231700
24404729,202003,서울,화장품 및 방향제 소매업,인천,50s,2,4,288700
24404730,202003,서울,화장품 및 방향제 소매업,인천,60s,1,5,69600
24404731,202003,서울,화장품 및 방향제 소매업,인천,60s,2,5,259300

In [61]:
import numpy as np
target = np.log1p(data_['AMT'])

In [62]:
data = data_.drop(["AMT"], axis = 1)

In [63]:
import pandas as pd
import platform
from matplotlib import font_manager, rc 
import matplotlib
# '-' 부호가 제대로 표시되게 하는 설정 matplotlib.rcParams['axes.unicode_minus'] = False
# 운영 체제마다 한글이 보이게 하는 설정 # 윈도우
if platform.system() == 'Windows':
    path = "c:\Windows\Fonts\malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name() 
    rc('font', family=font_name)
card = pd.read_csv("./card.csv", encoding='cp949')
card = card.T
col_list= list(card.iloc[0])
card.columns = col_list
card = card.drop(['한국표준산업분류별'], 0)
work_col = list(card.columns)

In [64]:
work_col, data["STD_CLSS_NM"].unique()

(['도매 및 소매업',
  '운수업',
  '숙박 및 음식점업',
  '사업시설관리 및 사업지원 서비스업',
  '교육서비스업',
  '보건업 및 사회복지 서비스업',
  '예술, 스포츠 및 여가관련 서비스업',
  '협회 및 단체, 수리 및 기타 개인 서비스업'],
 array(['건강보조식품 소매업', '골프장 운영업', '과실 및 채소 소매업', '관광 민예품 및 선물용품 소매업',
        '그외 기타 스포츠시설 운영업', '그외 기타 종합 소매업', '기타 대형 종합 소매업', '기타 외국식 음식점업',
        '기타 주점업', '기타음식료품위주종합소매업', '마사지업', '면세점', '비알콜 음료점업',
        '빵 및 과자류 소매업', '서양식 음식점업', '수산물 소매업', '슈퍼마켓', '스포츠 및 레크레이션 용품 임대업',
        '여관업', '여행사업', '욕탕업', '육류 소매업', '일반유흥 주점업', '일식 음식점업', '자동차 임대업',
        '전시 및 행사 대행업', '정기 항공 운송업', '중식 음식점업', '차량용 가스 충전업', '차량용 주유소 운영업',
        '체인화 편의점', '피자 햄버거 샌드위치 및 유사 음식점업', '한식 음식점업', '호텔업',
        '화장품 및 방향제 소매업', '기타 수상오락 서비스업', '내항 여객 운송업', '버스 운송업', '택시 운송업'],
       dtype=object))

In [65]:
card_= card[22:]

In [66]:
mapping_dict = {'도매 및 소매업':"a",
                '운수업':"b",
                '숙박 및 음식점업':"c",
                '사업시설관리 및 사업지원 서비스업':"d",
                '교육서비스업':"h",
                '보건업 및 사회복지 서비스업':"f",
                '예술, 스포츠 및 여가관련 서비스업':"g",
                '협회 및 단체, 수리 및 기타 개인 서비스업':"e"}

In [67]:
data_col= data["STD_CLSS_NM"].unique()
list(data_col)

['건강보조식품 소매업',
 '골프장 운영업',
 '과실 및 채소 소매업',
 '관광 민예품 및 선물용품 소매업',
 '그외 기타 스포츠시설 운영업',
 '그외 기타 종합 소매업',
 '기타 대형 종합 소매업',
 '기타 외국식 음식점업',
 '기타 주점업',
 '기타음식료품위주종합소매업',
 '마사지업',
 '면세점',
 '비알콜 음료점업',
 '빵 및 과자류 소매업',
 '서양식 음식점업',
 '수산물 소매업',
 '슈퍼마켓',
 '스포츠 및 레크레이션 용품 임대업',
 '여관업',
 '여행사업',
 '욕탕업',
 '육류 소매업',
 '일반유흥 주점업',
 '일식 음식점업',
 '자동차 임대업',
 '전시 및 행사 대행업',
 '정기 항공 운송업',
 '중식 음식점업',
 '차량용 가스 충전업',
 '차량용 주유소 운영업',
 '체인화 편의점',
 '피자 햄버거 샌드위치 및 유사 음식점업',
 '한식 음식점업',
 '호텔업',
 '화장품 및 방향제 소매업',
 '기타 수상오락 서비스업',
 '내항 여객 운송업',
 '버스 운송업',
 '택시 운송업']

In [68]:
mapping_clss = {
 '건강보조식품 소매업':"a",
 '골프장 운영업':"g",
 '과실 및 채소 소매업':"a",
 '관광 민예품 및 선물용품 소매업':"a",
 '그외 기타 스포츠시설 운영업':"g",
 '그외 기타 종합 소매업':"a",
 '기타 대형 종합 소매업':"a",
 '기타 외국식 음식점업':"c",
 '기타 주점업':"c",
 '기타음식료품위주종합소매업':"a",
 '마사지업':"g",
 '비알콜 음료점업':"c",
 '빵 및 과자류 소매업':"a",
 '서양식 음식점업':"c",
 '수산물 소매업':"a",
 '슈퍼마켓':"a",
 '스포츠 및 레크레이션 용품 임대업':"g",
 '여관업':"c",
 '욕탕업':"c",
 '육류 소매업':"a",
 '일반유흥 주점업':"c",
 '일식 음식점업':"c",
 '전시 및 행사 대행업':"g",
 '중식 음식점업':"c",
 '차량용 가스 충전업':"e",
 '차량용 주유소 운영업':"e",
 '체인화 편의점':"a",
 '피자 햄버거 샌드위치 및 유사 음식점업':"c",
 '한식 음식점업':"c",
 '호텔업':"c",
 '화장품 및 방향제 소매업':"a",
 '휴양콘도 운영업':"c",
 '여행사업':"g",
 '자동차 임대업':"e",
 '면세점':"a",
 '버스 운송업':"b",
 '택시 운송업':"b",
 '기타 수상오락 서비스업':"g",
 '내항 여객 운송업':"b",
 '그외 기타 분류안된 오락관련 서비스업':"g",
 '정기 항공 운송업':"b"}

In [69]:
std_clss = data["STD_CLSS_NM"]

In [70]:
data["cat"]= data["STD_CLSS_NM"].apply(lambda x: mapping_clss[x])

In [71]:
card_.columns = ["a","b","c","d","h","f","g","e"]

In [72]:
#list((list(data['REG_YYMM'].unique())),"202004")
ca_index = ["201901","201902","201903","201904","201905","201906","201907","201908","201909","201910",
           "201911","201912","202001","202002","202003","202004"]

In [73]:
card_.index = ca_index

In [74]:
REG_YYMM = ["201901","201902","201903","201904","201905","201906","201907","201908","201909","201910",
           "201911","201912","202001","202002","202003"]
for i in range(len(REG_YYMM)):
    a = dict(card_.loc[REG_YYMM[i]])
    index = data[data["REG_YYMM"]==REG_YYMM[i]].index
    data["cat"].loc[index[0]:index[-1]+1]= data["cat"].loc[index[0]:index[-1]+1].apply(lambda x: a[x])
data

C:\Users\opqr2\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,cat
820918,201901,서울,건강보조식품 소매업,강원,60s,2,5,3241
820919,201901,서울,건강보조식품 소매업,강원,50s,2,4,3241
820920,201901,서울,건강보조식품 소매업,강원,50s,2,4,3241
820921,201901,서울,건강보조식품 소매업,강원,60s,2,5,3241
820922,201901,서울,건강보조식품 소매업,강원,50s,2,4,3241
...,...,...,...,...,...,...,...,...
24404727,202003,서울,화장품 및 방향제 소매업,인천,40s,2,3,3475
24404728,202003,서울,화장품 및 방향제 소매업,인천,50s,1,4,3475
24404729,202003,서울,화장품 및 방향제 소매업,인천,50s,2,4,3475
24404730,202003,서울,화장품 및 방향제 소매업,인천,60s,1,5,3475
24404731,202003,서울,화장품 및 방향제 소매업,인천,60s,2,5,3475

In [75]:
from catboost import CatBoost, Pool

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6259502 entries, 820918 to 24404731
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   REG_YYMM      object
 1   CARD_SIDO_NM  object
 2   STD_CLSS_NM   object
 3   HOM_SIDO_NM   object
 4   AGE           object
 5   SEX_CTGO_CD   int64
 6   FLC           int64
 7   cat           object
dtypes: int64(2), object(6)
memory usage: 429.8+ MB

In [77]:
data["cat"]=data["cat"].apply(lambda x: int(x))
print(data)
print(data.info())

         REG_YYMM CARD_SIDO_NM    STD_CLSS_NM HOM_SIDO_NM  AGE  SEX_CTGO_CD  \
820918     201901           서울     건강보조식품 소매업          강원  60s            2
820919     201901           서울     건강보조식품 소매업          강원  50s            2
820920     201901           서울     건강보조식품 소매업          강원  50s            2
820921     201901           서울     건강보조식품 소매업          강원  60s            2
820922     201901           서울     건강보조식품 소매업          강원  50s            2
...           ...          ...            ...         ...  ...          ...
24404727   202003           서울  화장품 및 방향제 소매업          인천  40s            2
24404728   202003           서울  화장품 및 방향제 소매업          인천  50s            1
24404729   202003           서울  화장품 및 방향제 소매업          인천  50s            2
24404730   202003           서울  화장품 및 방향제 소매업          인천  60s            1
24404731   202003           서울  화장품 및 방향제 소매업          인천  60s            2

          FLC   cat
820918      5  3241
820919      4  3241
820920      4  3241
820921      5  3241
820922      4  3241
...       ...   ...
24404727    3  3475
24404728    4  3475
24404729    4  3475
24404730    5  3475
24404731    5  3475

[6259502 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6259502 entries, 820918 to 24404731
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   REG_YYMM      object
 1   CARD_SIDO_NM  object
 2   STD_CLSS_NM   object
 3   HOM_SIDO_NM   object
 4   AGE           object
 5   SEX_CTGO_CD   int64
 6   FLC           int64
 7   cat           int64
dtypes: int64(3), object(5)
memory usage: 429.8+ MB
None

In [78]:
data

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,cat
820918,201901,서울,건강보조식품 소매업,강원,60s,2,5,3241
820919,201901,서울,건강보조식품 소매업,강원,50s,2,4,3241
820920,201901,서울,건강보조식품 소매업,강원,50s,2,4,3241
820921,201901,서울,건강보조식품 소매업,강원,60s,2,5,3241
820922,201901,서울,건강보조식품 소매업,강원,50s,2,4,3241
...,...,...,...,...,...,...,...,...
24404727,202003,서울,화장품 및 방향제 소매업,인천,40s,2,3,3475
24404728,202003,서울,화장품 및 방향제 소매업,인천,50s,1,4,3475
24404729,202003,서울,화장품 및 방향제 소매업,인천,50s,2,4,3475
24404730,202003,서울,화장품 및 방향제 소매업,인천,60s,1,5,3475
24404731,202003,서울,화장품 및 방향제 소매업,인천,60s,2,5,3475

In [79]:
test_index=data[data["REG_YYMM"]=="202003"].index
test_index

Int64Index([24069081, 24069082, 24069083, 24069084, 24069085, 24069086,
            24069087, 24069088, 24069089, 24069090,
            ...
            24404722, 24404723, 24404724, 24404725, 24404726, 24404727,
            24404728, 24404729, 24404730, 24404731],
           dtype='int64', length=335651)

In [80]:
target.index, data.index

(Int64Index([  820918,   820919,   820920,   820921,   820922,   820923,
               820924,   820925,   820926,   820927,
             ...
             24404722, 24404723, 24404724, 24404725, 24404726, 24404727,
             24404728, 24404729, 24404730, 24404731],
            dtype='int64', length=6259502),
 Int64Index([  820918,   820919,   820920,   820921,   820922,   820923,
               820924,   820925,   820926,   820927,
             ...
             24404722, 24404723, 24404724, 24404725, 24404726, 24404727,
             24404728, 24404729, 24404730, 24404731],
            dtype='int64', length=6259502))

In [81]:
x_test = data.loc[test_index]
y_test = target.loc[test_index]
x_train = data.loc[:24069080]
y_train = target.loc[:24069080]

In [82]:
print(x_test.shape)
print(y_test.shape)
print(x_train.shape)
print(y_train.shape)
x_train.index

(335651, 8)
(335651,)
(5923851, 8)
(5923851,)

Int64Index([  820918,   820919,   820920,   820921,   820922,   820923,
              820924,   820925,   820926,   820927,
            ...
            23141902, 23141903, 23141904, 23141905, 23141906, 23141907,
            23141908, 23141909, 23141910, 23141911],
           dtype='int64', length=5923851)

In [94]:
from catboost import CatBoostRegressor
model = CatBoostRegressor(iterations=2,
                          learning_rate=1,
                          depth=5,
                          loss_function='RMSE',
                          task_type="GPU")
train_pool = Pool(x_train,
                  y_train,
                  cat_features=[0,1,2,3,4])
test_pool = Pool(x_test, 
                 cat_features=[0,1,2,3,4]) 
# Fit model
model.fit(train_pool)
# Get predictions
preds = model.predict(test_pool)
preds

0:	learn: 1.5453335	total: 320ms	remaining: 320ms
1:	learn: 1.5188021	total: 596ms	remaining: 0us

array([13.14150327, 13.14150327, 13.14150327, ..., 12.67837295,
       12.67837295, 12.67837295])

In [95]:
difference = preds - y_test
difference = np.square(difference)   
mean_difference = difference.mean()    
score = np.sqrt(mean_difference)
score

1.5183998431777912

In [56]:
import numpy as np
from sklearn.metrics import make_scorer
def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    difference = np.square(difference)
    
    mean_difference = difference.mean()    
    score = np.sqrt(mean_difference)
    return score
rmsle_scorer = make_scorer(rmsle)
rmsle_scorer
rmsle(y_test, preds)

2.1940611594510475